<div class="main_container">
    <div class="navbar">
        <h2>Elli Lilly</h2>
    </div>
    <div class="filter">
        Please select the year
        <select (change)="yearChange($event)">
            <option  *ngFor="let item of items; let i=index; " 
            >  {{i+1950}}
            </option>
          </select>
    </div>
    <div class="population_chart">
        <div class="population">
            <span>World population</span>
            <h1>7.8Bn</h1>
        </div>
        <div class="growth">
            <app-line-chart></app-line-chart>
        </div>
    </div>
    <div class="chart">
        <div id="scatter-plot" class="svg-container"></div>
        <span>Colors for bubble are given based on size since regions not available in csv</span>
    </div>
</div>

